.home-screen {
    height: 100vh;
    width: 100%;
    background-image: url(../images/DrumMachine-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: center;
}

.button {
    background-color: green;
    width:50px;
    height:80px;
    margin:10px;
    padding:10px;
    border-radius: 10px;
    border: 1px solid yellow;
    text-align: center;
    font-family: sans-serif;
}

.button:active {
    background-color: cyan;
}